@use 'reset'; 
@use 'config';
@use 'utilities';
@use 'battleship-board'; 

h1.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6vh;
    text-align: center;
}

div.buttons-container{
    display: flex;
    width: 100vw;
    height: 4vh;
    justify-content: center;
    align-items: center;
}

main.main-body {
    display: flex;
    width: 100vw;
    height: 90vh;
}

div.container-game-actions{
    display: flex;
    flex-flow: row wrap; 
    padding: 2px;
    width: 700px;
    height: 150px;

    
}

.ships-container{
    background-color: red;
}

.ship-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    width: 100%;
    height: 26px;
    background-color: blueviolet; 

    &:hover{
        background-color: black;
    }

    &:focus-within{
        background-color: pink
    }
}

.ship{
    margin: 1px;
    width: 22px;
    height: 22px;
    background-color:darkgreen; 
    pointer-events: none;
    
}

